{% extends "base_table.html" %}

{% block extra_scripts %}
  <script type="text/javascript">
    $(function() {
      truncate();

      var table = $('#table_content').DataTable({
        "serverSide": true,
        "ajax": {
            "url": '/' + $('#table-name').text() + '/query',
            "type": 'POST',
            "dataSrc": function ( data ) {
              var old = JSON.stringify(data['aaData']).replace(/null/g, '"<span class=\'vc\'><i>NULL<i></span>"');
              var newArray = JSON.parse(old);
              return newArray;
            },
            "beforeSend": function () {
              $("#overlay").show();
              $(".loader").show();
            },
            "complete": function () {
              $("#overlay").hide();
              $(".loader").hide();
              truncate();
            }
        },
        "pagingType": "full_numbers",
        "lengthMenu": [10, 25, 50, 100, 300, 500],
        "stateSave": true,
        "orderMulti": false,
        "fixedHeader": true,
        "columnDefs": [
          {
            "orderable": false,
            "targets": 0
          }
        ],
        "order": [[ 1, "asc" ]],
        "dom": 'lBfrtip',
        "buttons": [
          {
            "extend": 'excel',
            "title": $('#table-name').text(),
            "exportOptions": {
              "columns": ':visible:not(:eq(0))',
            }
          },
          {
            "extend": 'csv',
            "title": $('#table-name').text(),
            "exportOptions": {
              "columns": ':visible:not(:eq(0))'
            }
          }
        ],
      });

      $('a#truncate-button').click(function() {
        if (localStorage.getItem('truncate-text') == undefined) {
          localStorage.setItem('truncate-text', 'on');
        } else if (localStorage.getItem('truncate-text') == "on") {
          localStorage.setItem('truncate-text', 'off');
        } else if (localStorage.getItem('truncate-text') == "off") {
          localStorage.setItem('truncate-text', 'on');
        }
        truncate();
      });
    });

    function truncate() {
        if (localStorage.getItem('truncate-text') == undefined) {
          $('td').addClass("truncate");
          $('a#truncate-button').text("←T→");
        } else if (localStorage.getItem('truncate-text') == "on") {
          $('td').addClass("truncate");
          $('a#truncate-button').text("←T→");
        } else if (localStorage.getItem('truncate-text') == "off") {
          $('td').removeClass("truncate");
          $('a#truncate-button').text("→T←");
        }
    }
  </script>
{% endblock %}

{% block content_title %}
  {{ super() }}
  <small>{{ ds_table.all().count() }} rows</small>
{% endblock %}

{% block content_tab_class %} active{% endblock %}

{% block inner_content %}
  {# add filters #}
  <a href="#" class="btn btn-info btn-sm" id="truncate-button" role="button">T</a>
  <table class="table table-striped" id="table_content">
    <thead>
      <tr>
        <th></th>
        {% for column in columns %}
          <th>
            {{ column }}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}
