{% extends "base_table.html" %}

{% block extra_scripts %}
  <script type="text/javascript">
    $(function() {
      var valueToggles = $('a.toggle-value');
      valueToggles.on('click', function(e) {
        e.preventDefault();
        var elem = $(this),
            truncated = elem.siblings('span.truncated'),
            full = elem.siblings('span.full');
        truncated.toggle();
        full.toggle();
      });
      $('#table_content').DataTable({
        "responsive": true,
        "stateSave": true,
        "columnDefs": [
          {
            "orderable": false,
            "targets": 0
          }
        ],
        "order": [[ 1, "asc" ]],
        "dom": 'Bfrtip',
        "buttons": [
          {
            extend: 'excel',
            title: $('#table-name').text(),
            exportOptions: {
              columns: ':visible:not(:eq(0))',
            }
          },
          {
            extend: 'csv',
            title: $('#table-name').text(),
            exportOptions: {
              columns: ':visible:not(:eq(0))'
            }
          }
        ]
      });
    });
  </script>
{% endblock %}

{% block content_title %}
  {{ super() }}
  <small>{{ ds_table.all().count() }} rows</small>
{% endblock %}

{% block content_tab_class %} active{% endblock %}

{% block inner_content %}
  {# add filters #}
  <table class="table table-striped" id="table_content">
    <thead>
      <tr>
        <th></th>
        {% for column in columns %}
          <th>
            {{ column }}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in query %}
        <tr>
          <td>
            <a href="{{ url_for('table_content', table=table, delete=row ) }} ">
              <i class="fa fa-trash-alt" aria-hidden="true"></i>
            </a>
            <a href="{{ url_for('table_content', table=table, edit=row ) }} ">
              <i class="fa fa-edit" aria-hidden="true"></i>
            </a>
          </td>
          {% for field in field_names %}
            {% set value = row[field] %}
            <td>
              {% if value is none %}
                <span class="vc">NULL</span>
              {% else %}
                {{ value|value_filter|safe }}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
